---
import { getCollection } from 'astro:content';
import Layout from '../../layouts/Layout.astro';
import Container from '../../components/Container.astro';
import Card from '../../components/Card.astro';

const allPosts = await getCollection('blog', ({ data }) =>
  data.status === 'published' && data.category === 'blog' && data.lang === 'en'
);

const posts = allPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="writing code by day" blur={false} lang="en">
  <div class="bg-darkmode pt-[1px]">
    <Container>
      <div class="mt-12 mb-20 lg:mt-12 lg:mb-40">
        <h1 class="text-textColor text-[1.8rem] mb-[1.5em] text-center font-normal lg:text-[2rem]">
          writing code by day
        </h1>
        <div class="lg:flex lg:flex-wrap lg:-mx-6">
          {posts.map((post) => (
            <Card post={post} />
          ))}
        </div>
      </div>
    </Container>
  </div>
</Layout>
