---
import { getCollection } from 'astro:content';
import Layout from '../layouts/Layout.astro';
import Container from '../components/Container.astro';
import Card from '../components/Card.astro';
import HomeHero from '../components/HomeHero.astro';

const allPosts = await getCollection('blog', ({ data }) =>
  data.status === 'published' && data.lang === 'vn'
);

const posts = allPosts.sort(
  (a, b) => new Date(b.data.date).getTime() - new Date(a.data.date).getTime()
);
---

<Layout title="anh4gs" blur={false} lang="vn">
  <div class="bg-darkmode pt-[1px]">
    <Container>
      <HomeHero lang="vn" />
      <div class="mb-20 lg:mb-40">
        <div class="lg:flex lg:flex-wrap lg:-mx-6">
          {posts.map((post) => (
            <Card post={post} />
          ))}
        </div>
      </div>
    </Container>
  </div>
</Layout>
